@chat-window-width: 300px;
@chat-window-height: 250px;
@user-control-bar-height: 50px;
@screen-md: 992px;

.chat-window-wrapper {
  display: none;
  position: absolute;
  bottom: @user-control-bar-height;
  right: 2px;
  z-index: 5;

  background-color: rgba(0, 0, 0, .7);

  width: @chat-window-width;
  height: @chat-window-height;

  @media screen and (min-width: @screen-md) {
      height: 100%;
      bottom: 0;
  }

  &.visible {
    display: block;
  }
}
