li.chat-button()
  a(href="", ng-click="chat.toggleWindow()")
    span.notificationButton.conference-light-button
      i.fa.fa-comments.fa-2x
      span.badge.danger(ng-show='chat.unread && !chat.opened') {{chat.unread | numberOverflow:99}}
