li()
  a(href="", ng-click="chat.toggleWindow()")
    span.notificationButton.conference-light-button
      i.fa.fa-comments.fa-2x
      span.badge(ng-show='!chat.opened && chat.unread!=0') {{chat.unread}}
