.chat-window-wrapper(ng-controller='chatController')

  .chat-window
    .flexbox-parent
      .flexbox-item.header
        .top-bar
          .col-md-8.col-xs-8
            h4 #{__("Chat Room")}
          .col-md-4.col-xs-4.nopadding
            button.close(type="button", ng-click='close()') &times;

      .flexbox-item.fill-area.content.flexbox-item-grow
        .fill-area-content.flexbox-item-grow(chat-auto-scroll)
          .msg-container-base
            chat-message-display(ng-repeat="message in messages" chat-message="message")
      .flexbox-item.footer
        chat-message-editor
