form
  .input-group
    input.form-control.input-sm.chat_input(id="btn-input" type="text" placeholder="Write your message here..." ng-model='messageContent')
    span.input-group-btn
      button.btn.btn-primary.btn-sm(id="btn-chat" ng-click='createMessage()', type='submit') #{__('Send')}

