form
  .input-group
    input.form-control.input-sm.chat_input(type='text', placeholder="#{__('Write your message here...')}", ng-model='messageContent', autocomplete='off', autocapitalize='off')
    span.input-group-btn
      button.btn.btn-primary.btn-sm.send-button(ng-click='createMessage()', type='submit', ng-disabled='!messageContent')
        svg.svg-button(viewBox='0 0 24 24')
          path(fill='#ffffff', d='M2,21L23,12L2,3V10L17,12L2,14V21Z')
