.row.msg-container.base-sent
  .row.messages.msg-sent(ng-class="{'myself': myself}")
    .row.nopadding
      chat-message-avatar(chat-message="chatMessage")
      p
        span.author {{::author}}
        span.divider -
        span.published.small {{::chatMessage.published | amDateFormat:'h:mm a'}}
        span.divider :
        span(ng-bind-html="::chatMessage.message | autolink")
